body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #eee;
	margin: 0;
	overflow: hidden;
}

.container {
	display: flex;
	align-items: center;
}

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
}

.score {
	font-size: 24px;
	margin-bottom: 20px;
}

.next-tetromino-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid #333; */
	padding: 10px;
}

.next-tetromino {
	display: grid;
	/* Remove the gap */
}

.next-tetromino .cell,
.game-board .cell {
	width: 35px;
	height: 35px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	background-color: transparent; /* Ensures a transparent background by default */
}

.game-board {
	display: grid;
	grid-template-columns: repeat(10, 35px);
	width: 370px;
	height: 730px;
	/* border: 1px solid #333; */
}

.game-over {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.9);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	z-index: 10;
}

.game-over h1 {
	font-size: 24px;
	margin-bottom: 20px;
}
