body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #eee;
	margin: 0;
	overflow: hidden;
}

.container {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.sidebar {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.score {
	font-size: 24px;
	margin-bottom: 20px;
	position: relative;
	left: -50px;
}

.next-tetromino-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	margin: 0px;
	position: relative;
	left: -50px;
}

.next-tetromino {
	display: grid;
}

.next-tetromino .cell,
.game-board .cell {
	width: 35px;
	height: 35px;
	display: grid;
	border: 1px solid #333;
	box-sizing: border-box;
	background-color: transparent;
}

.game-board {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(10, 35px);
	width: 370px;
	height: 730px;
}

.game-over {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	z-index: 10;
}

.game-over h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.pause {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	color: white;
	font-size: 2rem;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 10px;
}

@media (max-width: 600px) {
	.game-board {
		grid-template-columns: repeat(10, 9vmin);
		width: 90vmin;
		height: 180vmin;
		margin-top: 20px;
	}

	.next-tetromino .cell,
	.game-board .cell {
		width: 9vmin;
		height: 9vmin;
	}

	.score {
		position: static;
		font-size: 4vw;
		margin: 0;
		margin-right: 20px;
	}

	.next-tetromino-window {
		position: static;
	}

	.sidebar {
		position: static;
		transform: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding-top: 20px;
		gap: 20px;
	}
}
